<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yablonski.majordom" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".AsyncTaskLoaderActivity"
            android:label="@string/title_activity_async_task_loader" >
        </activity>
        <activity
            android:name=".VkLoginActivity"
            android:label="@string/title_activity_vk_login" >
        </activity>
        <activity
            android:name=".SocialActivity"
            android:label="@string/title_activity_social" >
        </activity>
        <activity
            android:name=".FragmentActivity"
            android:label="@string/title_activity_fragment" >
            <intent-filter>
                <action android:name="android.intent.action.showfragments" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".ElectricActivity"
            android:label="@string/title_activity_electric" >
        </activity>
    </application>

</manifest>
